@model IEnumerable<Cliente_ProyectoFinal.Models.Habitaciones.Class_Habitaciones>

@{
    ViewData["Title"] = "Lista de Habitaciones";
}

@{
    var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

@{
    var SuccessDeleteMessage = TempData["SuccessDeleteMessage"] as string;
}

@if (!string.IsNullOrEmpty(SuccessDeleteMessage))
{
    <div class="alert alert-success">
        @SuccessDeleteMessage
    </div>
}
@{
    var SuccessInsertMessage = TempData["SuccessInsertMessage"] as string;
}

@if (!string.IsNullOrEmpty(SuccessInsertMessage))
{
    <div class="alert alert-success">
        @SuccessInsertMessage
    </div>
}


<!-- Aquí va el código para mostrar la lista de productos -->


<h2>@ViewData["Title"]</h2>

<!-- Botón para crear un nuevo producto -->
<a href="@Url.Action("Crear", "Habitaciones")" class="btn btn-primary">Crear Nueva Habitacion</a>
<br />
<br />

<form asp-controller="Autenticacion" asp-action="Logout" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger btn-sm">Cerrar Sesión</button>
</form>



<br />
<br />


<!-- Tabla para mostrar la lista de productos -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Habitacion ID</th>
            <th>numero</th>
            <th>Tipo ID</th>
            <th>Estado</th>
            


        </tr>
    </thead>
    <tbody>
        @foreach (var habi in Model)
        {
            <tr>
                <td>@habi.habitacion_ID</td>
                <td>@habi.numero</td>
                <td>@habi.tipo_ID</td>
                <td>@habi.estado</td> 
               



                <td>
                    <!-- Enlaces para editar y eliminar -->
                    <a href="@Url.Action("Editar", "Habitaciones", new { id = habi.habitacion_ID })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Eliminar", "Habitaciones", new { id = habi.habitacion_ID })" class="btn btn-danger">Eliminar</a>

                    <!-- Botón para ver video relacionado con este producto -->

                </td>
            </tr>
        }
    </tbody>
</table>
