@model IEnumerable<Cliente_ProyectoFinal.Models.Ocupaciones.Class_Ocupaciones>

@{
    ViewData["Title"] = "Lista de ocupaciones";
}

@{
    var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

@{
    var SuccessDeleteMessage = TempData["SuccessDeleteMessage"] as string;
}

@if (!string.IsNullOrEmpty(SuccessDeleteMessage))
{
    <div class="alert alert-success">
        @SuccessDeleteMessage
    </div>
}
@{
    var SuccessInsertMessage = TempData["SuccessInsertMessage"] as string;
}

@if (!string.IsNullOrEmpty(SuccessInsertMessage))
{
    <div class="alert alert-success">
        @SuccessInsertMessage
    </div>
}


<!-- Aquí va el código para mostrar la lista de productos -->


<h2>@ViewData["Title"]</h2>

<!-- Botón para crear un nuevo producto -->
<a href="@Url.Action("Crear", "Ocupacion")" class="btn btn-primary">Crear Nueva ocupacion</a>
<br />
<br />

<form asp-controller="Autenticacion" asp-action="Logout" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger btn-sm">Cerrar Sesión</button>
</form>


<br />
<br />


<!-- Tabla para mostrar la lista de productos -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ocupacion ID</th>
            <th>habitacion ID</th>
            <th>Cedula</th>
            <th>Fecha Entrada</th>
            <th>Fecha Salida</th>
            <th>Uso de Credito</th>
            <th>Credito ID</th>
            <th>Estado</th>




        </tr>
    </thead>
    <tbody>
        @foreach (var ocu in Model)
        {
            <tr>

                <td>@ocu.ocupacion_ID</td>
                
                <td>@ocu.habitacion_ID</td>

                <td>@ocu.Cedula_P</td>

                <td>@ocu.fecha_entrada</td>
                <td>@ocu.fecha_salida</td>
                <td>@ocu.uso_credito</td>
                <td>@ocu.credito_ID</td>
                <td>@ocu.estado</td>




                <td>
                    <!-- Enlaces para editar y eliminar -->
                    <a href="@Url.Action("Editar", "Ocupacion", new { id = ocu.ocupacion_ID })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Eliminar", "Ocupacion", new { id = ocu.ocupacion_ID })" class="btn btn-danger">Eliminar</a>

                    <!-- Botón para ver video relacionado con este producto -->

                </td>
            </tr>
        }
    </tbody>
</table>



