@model Cliente_ProyectoFinal.Models.Usuario.class_Login

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h2>@ViewData["Title"]</h2>


<!-- Mostrar mensaje de autenticación -->
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<!-- Mostrar resumen de errores -->
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<form method="post">
    <div class="form-group">
        <label for="Correo">Correo:</label>
        <input type="email" class="form-control" id="Correo_P" name="Correo_P" required value="@Model?.Correo_P" />
        @Html.ValidationMessageFor(m => m.Correo_P, "", new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        <label for="Clave">Clave:</label>
        <input type="password" class="form-control" id="Contrasenna_P" name="Contrasenna_P" required />
        @Html.ValidationMessageFor(m => m.Contrasenna_P, "", new { @class = "text-danger" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

<br />
<a href="@Url.Action("Registrarse", "Autenticacion")">¿No tienes cuenta? Regístrate aquí.</a>

