@model Cliente_ProyectoFinal.Models.Credito.Class_Credito

@{
    ViewData["Title"] = "Crear Credito";

}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style_Admin.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" /> <!-- Si usás Bootstrap -->
</head>
<body>
    <div class="form-wrapper">


<h2>@ViewData["Title"]</h2>

<!-- Mostrar resumen de errores -->
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<br />

<br />
<form method="post">
    <div class="form-group">
        <label for="Cedula_P">Cedula:</label>
        <input type="text" class="form-control" id="Cedula_P" name="Cedula_P" required value="@Model?.Cedula_P" />
        @Html.ValidationMessageFor(m => m.Cedula_P, "", new { @class = "text-danger" })
    </div>
    <br />

    

    <div class="form-group">
        <label for="monto_maximo">monto_maximo:</label>
        <input type="number" class="form-control" id="monto_maximo" name="monto_maximo" required step="0.01" value="@Model?.monto_maximo" />
        @Html.ValidationMessageFor(m => m.monto_maximo, "", new { @class = "text-danger" })
    </div>
    <br />


    <div class="form-group">
        <label for="saldo_actual">saldo_actual:</label>
        <input type="number" class="form-control" id="saldo_actual" name="saldo_actual" required value="@Model?.saldo_actual" />
        @Html.ValidationMessageFor(m => m.saldo_actual, "", new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
       
        <input type="hidden" name="fecha_creacion" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />

        @Html.ValidationMessageFor(m => m.fecha_creacion, "", new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        <label for="fecha_vencimiento">fecha_vencimiento:</label>
        <input type="date" class="form-control" id="fecha_vencimiento" name="fecha_vencimiento" required value="@Model?.fecha_vencimiento" />
        @Html.ValidationMessageFor(m => m.fecha_vencimiento, "", new { @class = "text-danger" })
    </div>
    <br />

    <input type="hidden" name="estado" value="Activo" />



            <button type="submit" class="btn btn-success">Agregar</button>
    <a href="@Url.Action("Index", "Credito")" class="btn btn-secondary">Cancelar</a>
</form>

    </div>



</body>
</html>

